/*  Name: Atifa Ghazi
    File: style.css
    Date: 16 March 2026
    Stylesheet for generating a random silly story! - lab 4 part 1 page
 */

body {
  font: 1.2em / 1.5 system-ui;
  margin: 0 auto;
  width: 500px;
}

fieldset {
  border: 0;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
}

input[type="text"] {
  margin-top: 5px;
  padding: 5px;
  width: 50%;
  display: block;
}

 