/*  Name: Atifa Ghazi
    File: style.css 
    Date: 09 February 2026
    stylesheet for Biography page - lab 3 part 1 page
 */
 
 html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}